.mascotas_container {
  background: #89c2d9;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mascotas_filters {
  background: white;
  width: 24%;
  margin-right: 1%;
  padding: 20px;
}
.mascotas_filters label {
  padding: 10px;
}
.mascotas_filters h2 {
  font-size: 18px;
}

.mascotas_filters button {
  padding: 5px;
  margin: 0 20% 0 20%;
  border-radius: 8px;
  width: 60%;
  color: white;
  background: #fb8500;
  border: none;
  
}
.mascotas_grid {
  width: 74%;
  margin-left: 1%;
  background: white;
  padding: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
