.registro_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.registro_container form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registro_container input,select{
    padding: 10px;
    width: 100%;
    margin: 20px;
    border: 1px solid black;
}
.registro_container button{
    padding: 10px;
    width: 150px;
    margin: 10px;
}